*{
    margin: 0px;
}
body { 
    font-family: Arial, sans-serif; 
    /* margin: 20px;  */
    background: linear-gradient(  #9d9df5,#d2d2e3, #4bf6c8);

    color: #1b1a1a;
}
.flg{
    background: linear-gradient(135deg, #1f3c88, #38a1db);
    color: white;
    padding: 4%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: larger;
}
h1 {
    text-align: center;
    color: #fefdfd;
}
 h2 {
    text-align: center;
    color: #2f2e2e;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
    background-color: #ffffff; 
    color: #f4f4f4;
}
th, td { 
    padding: 10px; 
    border: 1px solid #ffffff; 
    text-align: left; 
}
th { 
    background-color: #ffffff; 
}
form { 
    
    width: 70%;
    margin-bottom: 20px; 
    background-color: #fffcfc; 
    padding: 20px; 
    border-radius: 8px;
}
label { 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}
input[type="text"], input[type="datetime-local"] { 
    width: 96%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #b4b2b2; 
    border-radius: 4px; 
    background-color:rgba(208, 205, 205, 0.4); 
    color: #242222;
}
button { 
    padding: 12px 24px; 
    background-color: #5555e5; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 10px;
}
button:hover { 
    background-color: #6665f5; 
}
.display {
    position: absolute;
    top: 9%;
    right: 5%;
}
.display button {
    background-color: #e6e2fb;
    color: rgb(3, 60, 246);
}
.display button:hover {
    background-color: #4e69f0;
    color: rgb(240, 240, 242);
}
.full_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer {
    background-color: #1f3c88;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-content p {
    margin: 0;
    font-size: 1em;
}
.imgfly{
    position: absolute;
    top: 8%;
    left: 29%;
}
